@media (max-width: 575.98px) { 
    .actions{
        padding-top: 0!important;
    }

    .w-75 {
        width: 100%!important;
    }
}

.actions{
    padding-top: 70px;
}

.img-patient-max{
    min-height: 123px;
    max-height: 123px;
}