<div class="row mt-3 mb-5">
  <div class="xol-xl-12" style="margin-top: 70px;">
    <div class="card">
        <div class="card-body d-flex justify-content-between">
            <h4 class="card-title">Seguimientos</h4>
            <a class="btn btn-primary" routerLink="create">Nuevo</a>
        </div>
    </div>
    <ng-container *ngIf="tracings; else loading">
      <mgl-timeline [toggle]="toggle" [alternate]="alternate" [side]="side">
        <mgl-timeline-entry *ngFor="let tracing of tracings;let i = index;" (expand)="onExpandEntry($event, i)">
          <mgl-timeline-entry-header (click)="onHeaderClick($event)">
            <div>{{tracing.name}}</div>
          </mgl-timeline-entry-header>
          <mgl-timeline-entry-content [expandAnimationTiming]="contentAnimation ? '200ms ease' : '0ms'" [collapseAnimationTiming]="contentAnimation ? '100ms ease' : '0ms'">
            <div>
              <div>{{tracing.content}}</div>
            </div>
          </mgl-timeline-entry-content>
          <mgl-timeline-entry-dot
                                  [size]="size"
                                  (click)="onDotClick($event)"
                                  [expandAnimationTiming]="dotAnimation ? '200ms ease' : '0ms'"
                                  [collapseAnimationTiming]="dotAnimation ? '100ms ease' : '0ms'"
                                  ></mgl-timeline-entry-dot>
          <mgl-timeline-entry-side><h3>{{tracing.createdAt | date:'dd/MM/yyyy hh:mm'}}</h3></mgl-timeline-entry-side>
        </mgl-timeline-entry>
      </mgl-timeline>
    </ng-container>
  </div>
</div>
<ng-template #loading>
  <div class="text-center" style="margin-top: 70px;">
    <div
      class="spinner-border"
      style="width: 3rem; height: 3rem;"
      role="status"
    >
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  {{message}}
</ng-template>

<ng-template>
  <div class="row">
    <div class="col-xl-3" *ngFor="let tracing of tracings">
      <div class="card bg-primary text-white">
        <div class="card-header d-flex">
          <h5 class="card-title">{{tracing.name}}</h5>
          <div class="ml-auto">
            <button class="btn btn-sm btn-warning" (click)="editTracing(tracing._id)">Editar</button>
            <button class="btn btn-sm btn-danger" (click)="deleteTracing(tracing._id)">Eliminar</button>
          </div>
        </div>
        <div class="card-body">
          <p>{{tracing.content}}</p>
        </div>
      </div>
    </div>
  </div>
</ng-template>
