mgl-timeline-entry-dot{
    background-color: #09bfdf!important;
    border-radius: 50px solid #0d09df!important;
}

mgl-timeline-entry-side{
    top: 10px;
}

mgl-timeline-entry-header{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

.mw-75{
    max-width: 75%;
}

.text-gray{
    color:gray;
}