<div class="row mt-3">
    <div class="xol-xl-12" style="margin-top: 70px;">
        <div class="row">
            <div class="col-xl-3" *ngFor="let tracing of tracings">
                <div class="card bg-primary text-white">
                    <div class="card-header d-flex">
                        <h5 class="card-title">{{tracing.name}}</h5>
                        <div class="ml-auto">
                            <button class="btn btn-sm btn-warning">Editar</button>
                            <button class="btn btn-sm btn-danger">Eliminar</button>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>{{tracing.content}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
