<div class="d-none" style="margin-top: 15em; margin-bottom: 15em;" id="spinner">
    <div class="text-center" style="margin-top: 70px;">
        <div
          class="spinner-border"
          style="width: 3rem; height: 3rem;"
          role="status"
        >
          <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
<div class="row mb-5 justify-content-center" id="main" style="margin-top: 90px;">
    <div class="col-xl-6">
                    <h3 class="mt-2 mb-2">Testimoniales</h3>
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Buscar..." name="filterTestimonial" [(ngModel)]="filterTestimonial">
                    </div>
                <ng-container *ngIf="testimonials?.length > 0; else notestimonilas">
                    <div class="col-xl-12 mt-2" id="testimonials" *ngFor="let testimonial of testimonials | filter:filterTestimonial">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{testimonial.name}}</h5>
                                <p>{{testimonial.content}}</p>
                                <p>Usuario: <span class="font-weight-bold">{{testimonial.user_id.username}}</span></p>
                                <button class="btn btn-block btn-danger" (click)="deleteTestimonial(testimonial._id)">Eliminar</button>
                            </div>
                        </div>
                    </div>
                </ng-container>
    </div>
    <div class="col-xl-6">
                    <h3 class="mt-2 mb-2">Preguntas</h3>
                <ng-container *ngIf="questions?.length > 0; else noQuestions">
                    <div class="col-xl-12 mt-2" *ngFor="let question of questions">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{question.title}}</h5>
                                <p>{{question.content}}</p>
                                <p>Usuario: <span class="font-weight-bold">{{question.user_id.username}}</span></p>
                                <button class="btn btn-block btn-danger" (click)="deleteQuestion(question._id)">Eliminar</button>
                                <button class="btn btn-block btn-success" (click)="response(question._id)" data-toggle="modal" data-target="#responseModal">Responder</button>
                            </div>
                        </div>
                    </div>
                </ng-container>
    </div>
</div>

<ng-template #notestimonilas>
    <div class="text-center" style="margin-top: 70px;" id="spinnerTestimonials">
        <div
          class="spinner-border"
          style="width: 3rem; height: 3rem;"
          role="status"
        >
          <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div class="mt-5 mb-5 text-center d-none" id="noTestimonialsdiv">
        <h3>No hay testimoniales</h3>
    </div>
</ng-template>

<ng-template #noQuestions>
    <div class="text-center" style="margin-top: 70px;" id="spinnerQuestions">
        <div
          class="spinner-border"
          style="width: 3rem; height: 3rem;"
          role="status"
        >
          <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div class="mt-5 mb-5 text-center d-none" id="noQuestionsdiv">
        <h3>No hay preguntas</h3>
    </div>
</ng-template>

<!-- Modal -->
<div class="modal fade" id="responseModal" tabindex="-1" aria-labelledby="responseModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="responseModalLabel">Enviar Respuesta</h5>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"><svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-x-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
          </svg></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary mr-3" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
</div>