<div class="d-none" style="margin-top: 15em; margin-bottom: 15em;" id="spinner">
    <div class="text-center" style="margin-top: 70px;">
        <div
          class="spinner-border"
          style="width: 3rem; height: 3rem;"
          role="status"
        >
          <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
<div class="row mb-5 justify-content-center" id="main" style="margin-top: 90px;">
    <div class="col-xl-6">
                    <h3 class="mt-2 mb-2">Testimoniales</h3>
                <ng-container *ngIf="testimonials?.length > 0; else notestimonilas">
                    <div class="col-xl-12 mt-2" id="testimonials" *ngFor="let testimonial of testimonials">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{testimonial.name}}</h5>
                                <p>{{testimonial.content}}</p>
                                <p>Usuario: <span class="font-weight-bold">{{testimonial.user_id.username}}</span></p>
                                <button class="btn btn-block btn-danger" (click)="deleteTestimonial(testimonial._id)">Eliminar</button>
                            </div>
                        </div>
                    </div>
                </ng-container>
    </div>
    <div class="col-xl-6">
                    <h3 class="mt-2 mb-2">Preguntas</h3>
                <ng-container *ngIf="questions?.length > 0; else noQuestions">
                    <div class="col-xl-12 mt-2" *ngFor="let question of questions">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{question.title}}</h5>
                                <p>{{question.content}}</p>
                                <p>Usuario: <span class="font-weight-bold">{{question.user_id.username}}</span></p>
                                <button class="btn btn-block btn-danger" (click)="deleteQuestion(question._id)">Eliminar</button>
                            </div>
                        </div>
                    </div>
                </ng-container>
    </div>
</div>

<ng-template #notestimonilas>
    <div class="text-center" style="margin-top: 70px;" id="spinnerTestimonials">
        <div
          class="spinner-border"
          style="width: 3rem; height: 3rem;"
          role="status"
        >
          <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div class="mt-5 mb-5 text-center d-none" id="noTestimonialsdiv">
        <h3>No hay testimoniales</h3>
    </div>
</ng-template>

<ng-template #noQuestions>
    <div class="text-center" style="margin-top: 70px;" id="spinnerQuestions">
        <div
          class="spinner-border"
          style="width: 3rem; height: 3rem;"
          role="status"
        >
          <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div class="mt-5 mb-5 text-center d-none" id="noQuestionsdiv">
        <h3>No hay preguntas</h3>
    </div>
</ng-template>