<div class="row mt-5 mb-5 justify-content-center">
    <div class="col-xl-8 col-lg-9 col-md-8 col-sm-9 col-12 mb-3" style="padding-top: 70px;">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body">
                          <div class="d-none" id="padlock"></div>
                            <full-calendar [options]="calendarOptions"></full-calendar>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <div class="col-xl-8"  *ngIf="authService.userLogged.role === 'user' || authService.userLogged.role === 'staff'">
      <div *ngIf="eventToEdit.title !== ''">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Tarea Seleccionado</h3>
            <hr>
            <div>
              <p class="font-weight-bold">Nombre de la tarea:</p>
              <p>{{eventToEdit.title}}</p>
            </div>
            <div>
              <p class="font-weight-bold">Fecha de la tarea:</p>
              <p>{{eventToEdit.date | date:'medium'}}</p>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="d-none" id="spinner">
    <div class="text-center" style="margin-top: 70px;">
        <div
          class="spinner-border"
          style="width: 3rem; height: 3rem;"
          role="status"
        >
          <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
    <div class="col-xl-8" id="scheduleDiv"  *ngIf="authService.userLogged.role === 'admin'">
        <form [formGroup]="scheduleForm" (submit)="submit()">
            <div class="mb-3">
                <label for="nameEvent" class="form-label">Nombre del evento</label>
                <input type="text" class="form-control" id="nameEvent" placeholder="Nombre de la tarea" formControlName="title" minlength="4" maxlength="40" required>
                <div *ngIf="f.title.invalid && (f.title.dirty || f.title.touched)"
              class="alert alert-danger">

                  <div *ngIf="f.title.errors.required">
                    Información requerida.
                  </div>
                  <div *ngIf="f.title.errors.minlength">
                    El titulo debe contener más de 4 caracteres.
                  </div>
                  <div *ngIf="f.title.errors.maxlength">
                    El titulo no debe contener más de 40 caracteres.
                  </div>
                  <div *ngIf="f.title.pending">Validando...</div>

              </div>
            </div>
            <div class="mb-3">
                <label for="dateEvent" class="form-label">Fecha del evento</label>
                <input type="datetime-local" class="form-control" id="dateEvent" formControlName="date" required>
                <div *ngIf="f.date.invalid && (f.date.dirty || f.date.touched)"
              class="alert alert-danger">

                  <div *ngIf="f.date.errors.required">
                    Información requerida.
                  </div>
                  <div *ngIf="f.date.pending">Validando...</div>

              </div>
            </div>
            <button class="btn btn-block btn-primary" [disabled]="scheduleForm.invalid">Enviar</button>
        </form>
        <button class="btn btn-block btn-danger mt-2" *ngIf="idSchedule" (click)="deleteSchedule()">Eliminar</button>
    </div>
</div>