<div class="container">
  <div class="row mt-5 mb-5 justify-content-center">
    <div style="margin-top: 70px;"></div>
    <div *ngIf="authService.userLogged.role === 'staff'" class="col-xl-12 col-lg-9 col-md-8 col-sm-9 col-12 mb-3" style="padding-top: 70px;">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                  <div class="card-header bg-white">
                    <h3>Mis tareas</h3>
                  </div>
                    <div class="card-body">
                      <ng-container *ngIf="myTasks?.length > 0; else noTask">
                        <span class="d-block" *ngFor="let myTask of myTasks">{{myTask.title}}</span>
                      </ng-container>
                    </div>
                </div>
            </div>
      </div>
    </div>
    <div class="col-xl-8 col-lg-9 col-md-8 col-sm-9 col-12 mb-3">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body">
                          <div class="d-none" id="padlock"></div>
                            <full-calendar [options]="calendarOptions"></full-calendar>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <div class="col-xl-4"  *ngIf="authService.userLogged.role === 'user' || authService.userLogged.role === 'staff'">
      <div *ngIf="eventToEdit.title !== ''">
        <div class="card mb-5">
          <div class="card-header">
            <h3 class="card-title">Tarea Seleccionada</h3>
            <hr>
            <div>
              <p class="font-weight-bold">Nombre de la tarea:</p>
              <p>{{eventToEdit.title}}</p>
            </div>
            <div>
              <p class="font-weight-bold">Fecha de la tarea:</p>
              <p>{{eventToEdit.date | date:'medium'}}</p>
            </div>
            <ng-container *ngIf="eventToEdit?.participants.length > 0; else noParticipants">
              <p class="font-weight-bold">Participantes:</p>
              <p *ngFor="let user of eventToEdit?.participants">{{user.user.username}}</p>
            </ng-container>
            <ng-template #noParticipants>
              <p class="font-weight-bold">Participantes:</p>
              Este es un evento general.
            </ng-template>
          </div>
        </div>
      </div>
  </div>
  <div class="d-none" id="spinner">
    <div class="text-center" style="margin-top: 70px;">
        <div
          class="spinner-border"
          style="width: 3rem; height: 3rem;"
          role="status"
        >
          <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
    <div class="col-xl-4 mb-3" id="scheduleDiv"  *ngIf="authService.userLogged.role === 'admin'">
        <form [formGroup]="scheduleForm" (submit)="submit()">

          <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">Participantes</label>
            <select class="form-select" id="inputGroupSelect01" (change)="addParticipants($event.target.value)">
              <option selected value="">Escoge uno...</option>
              <option *ngFor="let user of users" value="{{user._id}}">{{user.username}}</option>
            </select>
          </div>

          <div class="card">
            <ng-container *ngIf="usersParticipants?.length <= 0; else existUsers">
              <div class="card-body text-center" id="textEdit">
                  Aún no has seleccionado ningun usuario.
              </div>
            </ng-container>
          </div>
          <div class="form-text mb-1">Para eliminar un item, solo dale click.</div>

            <div class="mb-3">
                <label for="nameEvent" class="form-label">Nombre del evento</label>
                <input type="text" class="form-control" id="nameEvent" placeholder="Nombre de la tarea" formControlName="title" minlength="4" maxlength="40" required>
                <div *ngIf="f.title.invalid && (f.title.dirty || f.title.touched)"
              class="alert alert-danger">

                  <div *ngIf="f.title.errors.required">
                    Información requerida.
                  </div>
                  <div *ngIf="f.title.errors.minlength">
                    El titulo debe contener más de 4 caracteres.
                  </div>
                  <div *ngIf="f.title.errors.maxlength">
                    El titulo no debe contener más de 40 caracteres.
                  </div>
                  <div *ngIf="f.title.pending">Validando...</div>

              </div>
            </div>
            <div class="mb-3">
                <label for="dateEvent" class="form-label">Fecha del evento</label>
                <input type="datetime-local" class="form-control" id="dateEvent" formControlName="date" required>
                <div *ngIf="f.date.invalid && (f.date.dirty || f.date.touched)"
              class="alert alert-danger">

                  <div *ngIf="f.date.errors.required">
                    Información requerida.
                  </div>
                  <div *ngIf="f.date.pending">Validando...</div>

              </div>
            </div>
            <button class="btn btn-block btn-primary" [disabled]="scheduleForm.invalid">Enviar</button>
        </form>
        <button class="btn btn-block btn-danger mt-2" *ngIf="idSchedule" (click)="deleteSchedule()">Eliminar</button>
        <button class="btn btn-block btn-warning mt-2" *ngIf="idSchedule" (click)="resetFormIf()">Limpiar formulario</button>
    </div>
    <ng-container *ngIf="events?.length > 0; else noTask">
      <div class="col-xl-12 col-lg-9 col-md-8 col-sm-9 col-12 mb-5" >
        <h3>Todas las tareas</h3>
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body table-responsive">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">Fecha</th>
                            <th scope="col">Title</th>
                            <th scope="col">Participantes</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let event of calendarOptions?.events | paginate:{ itemsPerPage: 5, currentPage: p }">
                            <th scope="row">{{event.date | date:'short'}}</th>
                            <td>{{event.title}}</td>
                            <td><span *ngFor="let participant of event.participants"> {{participant.user.username}}</span></td>
                          </tr>
                        </tbody>
                      </table>
                      <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
            </div>
    </div>
  </div>
    </ng-container>
</div>
</div>

<ng-template #existUsers>
  <div class="card-body text-center" *ngIf="usersParticipants?.length > 0">
    <h5 style="cursor: pointer;" *ngFor="let uP of usersParticipants" (click)="deleteUser(uP._id)">{{uP.username}}</h5>
  </div>
</ng-template>

<ng-template #noTask>
  <div class="d-none" id="noTaskFinally">
    <h5>No hay tareas</h5>
  </div>
    <div class="text-center" style="margin-top: 70px;" id="spinnerTask">
        <div
          class="spinner-border"
          style="width: 3rem; height: 3rem;"
          role="status"
        >
          <span class="sr-only">Loading...</span>
        </div>
    </div>
</ng-template>

<ng-template #noTask>
  No tienes tareas pendientes
</ng-template>