a {
    text-decoration: none!important;
}

#padlock{
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    transition: opacity 220ms ease 0s;
    opacity: 1;
    background: rgba(9, 30, 66, 0.54);
    z-index: 500;
}