<div class="card mt-4 mb-4" *ngIf="profile.area != ''; else noProfile">
    <div class="card-body">
        <div class="d-flex justify-content-between">
          <h3 class="card-title">Más datos</h3>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="mt-2">
                  <h6>Número de cédula</h6>
                  <span>{{profile.cedula}}</span>
                </div>
                <div class="mt-3">
                  <h6>Aréa de trabajo</h6>
                  <span>{{profile.area}}</span>
                </div>
                <div class="mt-3">
                  <h6>Edad</h6>
                  <span>{{profile.age}}</span>
                </div>
                <div class="mt-3">
                  <h6>Número de teléfono</h6>
                  <span>{{profile.phoneNumber}}</span>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #noProfile>
    <div class="card-body text-center">
        Aún no has creado un perfil. <a class="nav-link" (click)="editUser()" role="button">Créalo aquí</a>
    </div>
</ng-template>