<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white">
    <div class="container">
      <a class="navbar-brand" routerLink="/home"><img src="assets/logo.svg" class="w-10" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
          <li class="nav-item" (click)="toHome()">
            <a class="nav-link" aria-current="page" routerLink="/home">Inicio</a>
          </li>
          <li class="nav-item" (click)="toAskUs()" *ngIf="authService.userLogged.role === 'user'">
            <a class="nav-link" routerLink="/home">Preguntanos</a>
          </li>
          <ng-container *ngIf="!authService.loggedIn(); else loggedUser">
            <li class="nav-item">
              <a class="nav-link" routerLink="/user">Usuario</a>
            </li>
          </ng-container>
          <ng-template #loggedUser>
            <li class="nav-item" *ngIf="authService.userLogged.role === 'admin' || authService.userLogged.role === 'staff'">
              <a class="nav-link" routerLink="/patients">Pacientes</a>
            </li>
            <li class="nav-item" *ngIf="authService.userLogged.role === 'admin'">
              <a class="nav-link" routerLink="/staff">Usuarios</a>
            </li>
            <li class="nav-item" *ngIf="authService.userLogged.role === 'admin'">
              <a class="nav-link" routerLink="/activities">Actividades</a>
            </li>
            <li class="nav-item" *ngIf="authService.userLogged.role === 'admin' || authService.userLogged.role === 'staff'">
              <a class="nav-link" routerLink="/schedule">Horarios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/user/profile">Perfil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="authService.logout()">LogOut</a>
            </li>
          </ng-template>
        </ul>
      </div>
    </div>
  </nav>