.bd-subnavbar {
    position: relative;
    z-index: 1020;
    background-color: rgba(255,255,255,0.75);
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
}

.nav-item:hover{
    cursor: pointer;
}