<div class="card mb-4">
    <div class="card-body" *ngIf="user">
        <div class="d-flex justify-content-between">
            <h3 class="card-title">Información de registro</h3>
            <a class="nav-link" (click)="editUser()">Editar aquí</a>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="mt-2">
                    <h6>Tú nobre de usuario</h6>
                    <span>{{user.username}}</span>
                </div>
                <div class="mt-3">
                    <h6>Tu email</h6>
                    <span>{{user.email}}</span>
                </div>
                <div class="mt-3">
                    <h6>Tu rol</h6>
                    <span>{{user.role}}</span>
                </div>
                <div class="mt-3">
                    <h6>Fecha de registro</h6>
                    <span>{{user.createdAt | date:'medium'}}</span>
                </div>
            </div>
        </div>
    </div>
</div>