<div class="container">
    <div class="row mt-3">
      <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-6 mb-3 ml-auto" style="padding-top: 100px;">
        <div class="form-group d-flex border-bottom">
          <div style="padding: .375rem .75rem;">
            <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
              <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
            </svg>
          </div>
          <input type="text" class="form-control border-0 shadow-none" placeholder="Cédula..." name="filterTracingByDni" [(ngModel)]="filterTracingByDni" autocomplete="none"  spellcheck="false" style="max-width: 98%;">
        </div>
      </div>
      <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-6 mb-3" style="padding-top: 100px;">
        <div class="form-group d-flex border-bottom">
          <input type="text" class="form-control border-0 shadow-none" placeholder="Año-Mes-Día..." name="filterTracingByMonth" [(ngModel)]="filterTracingByMonth" autocomplete="none"  spellcheck="false" style="max-width: 98%;">
        </div>
      </div>
        <div class="col-xl-12">
            <div class="accordion" id="accordionTracings">
                <div class="card mb-3" *ngFor="let tracing of tracings | dni:filterTracingByDni | month:filterTracingByMonth | paginate:{ itemsPerPage: 10, currentPage: p}; let i = index">
                  <div class="card-header p-0 bg-white" id="headingOne">
                    <h2 class="mb-0">
                      <button class="btn bg-white btn-block text-left p-3 rounded-0 font-weight-bold text-center" type="button" data-toggle="collapse" [attr.data-target]="'#' + 'collapse_' + i" aria-expanded="true" [attr.aria-controls]="'collapse_' + i">
                        {{tracing.name}} | 
                        {{tracing.patient_id.name}} | 
                        {{tracing.patient_id.dni}} | 
                        {{tracing.createdAt | date:'short'}}
                      </button>
                    </h2>
                  </div>
              
                  <div [id]="'collapse_' + i" class="collapse" aria-labelledby="headingOne" data-parent="#accordionTracings">
                    <div class="card-body bg-light">
                      {{tracing.content}}
                    </div>
                  </div>
                </div>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
    </div>
    
</div>