<div class="row mt-5">
    <div class="col-xl-12">
        <div class="container">
            <div class="card border-0 text-white pl-3">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-5">
                                <h3 class="text-dark">La nueva Era</h3>
                                <p class="text-dark">
                                    “Tengo que salir por mí mismo”. “Yo puedo con esto”. “Lo dejo cuando quiera”. Son frases que escuchamos con frecuencia. Pero el tiempo pasa y siguen consumiendo drogas. Porque se necesita un programa de desintoxicación seguro, planificado y con criterio. En ciertos casos la fase de desintoxicación de adicciones puede realizarse de manera ambulatoria. Sin embargo, en muchas ocasiones, es necesario el ingreso hospitalario.
                                </p>
                            </div>
                            <div class="col-xl-5 ml-auto d-flex justify-content-end align-content-end">
                                <img class="img-fluid w-50" src="assets/026-rainbow.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>