<div class="row mt-3">
    <div class="col-xl-12 mb-3" id="homePart" style="padding-top: 70px;">
        <div class="container">
            <div class="card border-0 text-white pl-3">
                <div class="card-body">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-xl-2 col-5">
                                <img loading="lazy" class="img-fluid" src="assets/026-rainbow.svg" alt="foto1">
                            </div>
                            <div class="col-xl-9 col-12 pt-3">
                                <h3 class="text-dark">La nueva Era</h3>
                                <p class="text-dark">
                                    “Tengo que salir por mí mismo”. “Yo puedo con esto”. “Lo dejo cuando quiera”. Son frases que escuchamos con frecuencia. Pero el tiempo pasa y siguen consumiendo drogas. Porque se necesita un programa de desintoxicación seguro, planificado y con criterio. En ciertos casos la fase de desintoxicación de adicciones puede realizarse de manera ambulatoria. Sin embargo, en muchas ocasiones, es necesario el ingreso hospitalario.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr class="mb-0">

    <div class="col-xl-12 bg-light pt-3 pb-3">
        <div class="container">
                <swiper class="row">
                    <div class="col-xl-4 d-flex justify-content-center align-items-center">
                        <div class="card shadow">
                            <div class="card-body mt-5 mb-5 ml-5 mr-5">
                                <img loading="lazy" src="assets/skull.svg" class="w-10 h-10" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 d-flex justify-content-center align-items-center">
                        <div class="card shadow">
                            <div class="card-body mt-5 mb-5 ml-5 mr-5">
                                <img loading="lazy" src="assets/keep.svg" class="w-10 h-10" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 d-flex justify-content-center align-items-center">
                        <div class="card shadow">
                            <div class="card-body mt-5 mb-5 ml-5 mr-5">
                                <img loading="lazy" src="assets/sun.svg" class="w-10 h-10" alt="">
                            </div>
                        </div>
                    </div>
                  </swiper>
        </div>
    </div>

    <hr>

    <div class="col-xl-12">
        <div class="container">
            <div class="card pl-5 pr-5 border-0">
                <div class="card-header bg-white border-0">
                    <h3 class="card-title d-flex align-items-end">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-card-text mr-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M14.5 3h-13a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                        <path fill-rule="evenodd" d="M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 8zm0 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/>
                      </svg>Testimoniales</h3>
                </div>
                <div class="card-body">
                    <ng-container *ngIf="testimonials?.length > 0; else noTestimoniall">
                        <div class="row justify-content-between">
                        <div class="col-xl-6 col-md-12 mb-5 col-12" *ngFor="let testimonial of testimonials">
                            <div class="row">
                                <div class="col-xl-5 col-3 d-flex justify-content-center">
                                    <img loading="lazy" [src]="testimonial.user_id.imgUrl || 'assets/no-photo.jpg'" alt="{{testimonial.user_id.username}}"  class="img-fluid user-img w-50">
                                </div>
                                <div class="col-xl-7 col-12 pt-3">
                                    <p>
                                        "{{testimonial.content}}"
                                    </p>
                                    <p>By {{testimonial.user_id.username}} - {{testimonial.createdAt | date:'medium'}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    </ng-container>
                    <ng-template #noTestimoniall>
                        <div class="row justify-content-center">
                        <div class="col-xl-3 col-5 d-flex justify-content-center">
                            <img loading="lazy" src="assets/no-photo.jpg" class="img-fluid w-50" alt="">
                        </div>
                        <div class="col-xl-9 pt-3">
                            <p>
                                "La verdad muy buen servicio, el poder del sacrifio lo logra todo, gracias a dios y a todos los empleados de esta maravillosa clinica.
                                Gracias a ustedes podemos volver a disfrutar de ua vida tranquila claro que no vamos arelajarnos ya que este tipo de enfermedad no es facil de curar pero haremos nuestro mejor esfuerzo en cuanto a retormar una vida tranquila gracias por sus servicios"
                            </p>
                            <p>By Anonimo - 20/08/2019</p>
                        </div>
                    </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>

    <hr class="mb-0">

    <div class="col-xl-12 bg-light" id="newsletter" *ngIf="authService.userLogged.role === 'user'">
        <div class="container">
            <div class="row justify-content-center align-items-center mt-5 mb-5">
                <div class="col-xl-2">
                    <h3 class="font-weight-bold">Suscribete</h3>
                </div>
                <div class="col-xl-8">
                    <app-newsletter></app-newsletter>
                </div>
            </div>
        </div>
    </div>

    <hr *ngIf="authService.userLogged.role === 'user'" id="newsletterHr">

    <div class="col-xl-12 pt-4 pb-5" id="askUsPart" *ngIf="authService.userLogged.role === 'user'">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-12 text-center mb-0 pb-0">
                    <h3>Tienes alguna Pregunta?</h3>
                    <p class="mb-0 pb-0">Puedes enviarnos tus dudas aquí.</p>
                </div>
                <div class="col-xl-12 text-center col-3">
                    <svg style="max-width: 100px;" viewBox="0 0 16 16" class="bi bi-mailbox img-fluid" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M4 4a3 3 0 0 0-3 3v6h6V7a3 3 0 0 0-3-3zm0-1h8a4 4 0 0 1 4 4v6a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V7a4 4 0 0 1 4-4zm2.646 1A3.99 3.99 0 0 1 8 7v6h7V7a3 3 0 0 0-3-3H6.646z"/>
                        <path fill-rule="evenodd" d="M11.793 8.5H9v-1h5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.354-.146l-.853-.854z"/>
                        <path d="M5 7c0 .552-.448 0-1 0s-1 .552-1 0a1 1 0 0 1 2 0z"/>
                      </svg>
                </div>
                <ng-container *ngIf="!authService.loggedIn(); else loggedUser">
                    ¡Logeate para enviarnos tu regunta!
                </ng-container>
            </div>
        </div>
    </div>

    <hr class="mb-0">

    <div class="col-xl-12 bg-light pt-3 pb-5">
        <div class="container">
            <swiper class="row">
                <div class="col-xl-4">
                    <div class="card" style="max-height: 500px;">
                        <div class="card-body">
                            <img loading="lazy" class="img-fluid" src="./assets/centro.jpg" alt="Centro">
                            <h3 class="mt-2">Adicciones</h3>
                            <div style="max-height: 10em; overflow: auto; overflow-y: auto;">
                                <p>La función de un centro de rehabilitación es proporcionar los medios y el espacio para ayudar en el proceso de recuperación. Este proceso varía dependiendo de la rehabilitación que se necesita. Los centros de rehabilitación utilizan una combinación de terapia, grupos pequeños, sesiones individuales y de vida muy estructurada. La función de un centro de rehabilitación es tanto aumentar la calidad de vida y para ayudar al paciente a integrar en la comunidad.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="card">
                        <div class="card-body" style="max-height: 500px;">
                            <img loading="lazy" class="img-fluid" src="./assets/adiccion.jpg" alt="Centro">
                            <h3 class="mt-2">Nuestra Función</h3>
                            <div style="max-height: 10em; overflow: auto; overflow-y: auto;">
                                <p>Los centros de rehabilitación también trabajan con aquellos que tienen problemas de adicción. centros de rehabilitación de adicciones proporcionan tanto hospitalario y ambulatorio programas. Los centros de rehabilitación son una parte importante del tratamiento de los adictos a las drogas y el alcohol. Sin embargo, los centros de rehabilitación también pueden tratar los trastornos alimentarios y otras adicciones, como el juego, el sexo y las compras.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="card" style="max-height: 500px;">
                        <div class="card-body">
                            <img loading="lazy" class="img-fluid" src="./assets/desintoxicacion2.jpg" alt="Centro">
                            <h3 class="mt-2">La desintoxicación</h3>
                            <div style="max-height: 10em; overflow: auto; overflow-y: auto;">
                                <p>En este primer paso muchas personas adictas deben ingresar en el centro. Se trata de eliminar el alcohol u otras drogas fuera del organismo y conseguir la estabilidad física, sin que el organismo eche ya en falta la sustancia. Siempre se debe llevar a cabo bajo la atenta mirada del médico y del psiquiatra, puesto que puede aparecer un malestar intenso y llegar a ser peligroso. De esta manera, la desintoxicación se efectuará de forma segura.</p>
                            </div>
                        </div>
                    </div>
                </div>
              </swiper>
        </div>
    </div>

    <hr class="mb-0">

    <div class="col-xl-12 pt-3 pb-5">
        <div class="container">
            <div class="row pb-3">
                <div class="col-xl-12 col-12">
                    <h4>NUESTRA MISIÓN</h4>
                </div>
                <div class="col-xl-12 col-12">
                    <p>Nuestra <b>MISIÓN</b>, es el abordaje integral de las adicciones, a través de la prevención, el tratamiento y reducción de daños. Atendiendo tanto a las personas con dicha problemática, como a sus familias, desde el enfoque bio-psico-social y partiendo de la capacidad que tiene la persona para hacerse cargo de su vida y tomar decisiones de forma autónoma; fomentando además un cambio en la percepción social de las adicciones.</p>
                </div>
                <div class="col-xl-12 col-12">
                    <h4>NUESTRA VISIÓN</h4>
                </div>
                <div class="col-xl-12 col-12">
                    <p>
                        Nuestra <b>VISIÓN</b>, es la de ser una organización de referencia en el ámbito de las adicciones y la exclusión social, trabajando para mejorar y ampliar nuestras intervenciones, tanto en Prevención como en la Rehabilitación, reforzando la Reinserción Socio-Laboral de las personas con problemas de adicción, comprometida y abierta a los cambios sociales.
                    </p>
                </div>
                <div class="col-xl-12 col-12">
                    <h4>NUESTROS VALORES</h4>
                </div>
                <div class="col-xl-12 col-12">
                    <p>
                        Los <b>VALORES</b> en los que fundamentamos nuestro trabajo se basan en el Humanismo, la <b>Responsabilidad</b>, el <b>Respeto</b>, la <b>Dignidad</b>, la <b>Solidaridad</b>, la   <b>Igualdad</b>, la <b>Profesionalidad</b> y el <b>Compromiso</b>.
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>

<ng-template #loggedUser>
    <div class="col-xl-5">
        <app-ask-us></app-ask-us>
    </div>
</ng-template>