<div class="container">
  <div class="row mt-3 mb-4 justify-content-center">
    <div class="col-xl-5" style="margin-top: 70px;">
      <div class="text-center" style="margin-top: 70px;" id="spinnerStaff">
        <div
          class="spinner-border"
          style="width: 3rem; height: 3rem;"
          role="status"
        >
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div id="formStaff">
        <form [formGroup]="staffForm1" (submit)="submitUser()" novalidate>
          <div class="mb-3">
            <label for="staffUsername" class="form-label"
              >Nombre de usuario</label
            >
            <input
              type="text"
              class="form-control"
              formControlName="username"
              id="staffUsername"
              aria-describedby="Username"
              placeholder="Usuario"
              minlength="4"
              maxlength="20"
              required
            />

            <div
              *ngIf="f.username.invalid && (f.username.dirty || f.username.touched)"
              class="alert alert-danger"
            >
              <div *ngIf="f.username.errors.required">
                Información requerida.
              </div>
              <div *ngIf="f.username.errors.minlength">
                El nombre debe contener más de 4 caracteres.
              </div>
              <div *ngIf="f.username.errors.maxlength">
                El nombre debe contener menos de 4 caracteres.
              </div>
              <div *ngIf="f.username.pending">Validando...</div>
            </div>
          </div>
          <div class="mb-3" *ngIf="authService.userLogged.role === 'admin'">
            <label class="form-label">
              Rol de usuario
            </label><br>
              <select class="form-select" formControlName="role" id="staffRol" required>
                <option selected>Escoge uno...</option>
                <option value="user">Usuario</option>
                <option value="staff">Personal</option>
                <option value="admin">Administrador</option>
              </select>
            <div *ngIf="f.role.invalid && (f.role.dirty || f.role.touched)"
          class="alert alert-danger">

              <div *ngIf="f.role.errors.required">
                Información requerida.
              </div>
              <div *ngIf="f.role.errors.minlength">
                El campo debe contener más de 6 caracteres.
              </div>
              <div *ngIf="f.role.pending">Validando...</div>

          </div>
        </div>
          <div class="mb-3">
            <label for="staffimgUrl" class="form-label">Url de la imagen</label>
            <input
              type="text"
              class="form-control"
              formControlName="imgUrl"
              id="staffimgUrl"
              aria-describedby="imgUrl"
              placeholder="Url de la imagen"
              minlength="4"
            />

            <div
              *ngIf="f.imgUrl.invalid && (f.imgUrl.dirty || f.imgUrl.touched)"
              class="alert alert-danger"
            >
              <div *ngIf="f.imgUrl.errors.required">
                Información requerida.
              </div>
              <div *ngIf="f.imgUrl.errors.minlength">
                El nombre debe contener más de 4 caracteres.
              </div>
              <div *ngIf="f.imgUrl.pending">Validando...</div>
            </div>
          </div>
          <div class="mb-3">
            <label for="registerEmail1" class="form-label">Email</label>
            <input
              type="email"
              class="form-control"
              formControlName="email"
              id="registerEmail1"
              aria-describedby="emailHelp"
              placeholder="tuemail@host.com"
              minlength="15"
              maxlength="50"
              autocomplete="username"
              required
            />
            <div id="emailHelp" class="form-text">
              No compartiremos tu email con nadie.
            </div>
            <div
              *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)"
              class="alert alert-danger"
            >
              <div *ngIf="f.email.errors.required">
                Información requerida.
              </div>
              <div *ngIf="f.email.errors.minlength">
                El email debe contener más de 15 caracteres.
              </div>
              <div *ngIf="f.email.errors.email">
                El email debe contener una estructura común.
              </div>
              <div *ngIf="f.email.pending">Validando...</div>
            </div>
          </div>
          <div class="mb-3">
            <label for="registerEmail2" class="form-label"
              >Repite tu email</label
            >
            <input
              type="email"
              class="form-control"
              id="registerEmail2"
              aria-describedby="emailHelp"
              placeholder="tuemail@host.com"
              minlength="15"
              maxlength="50"
              formControlName="email2"
              required
            />
            <div
              *ngIf="f.email2.invalid && (f.email2.dirty || f.email2.touched)"
              class="alert alert-danger"
            >
              <div *ngIf="f.email2.errors.required">
                Información requerida.
              </div>
              <div *ngIf="f.email2.errors.minlength">
                El email debe contener más de 8 caracteres.
              </div>
              <div *ngIf="f.email2.errors.email">
                El email debe contener una estructura común.
              </div>
              <div *ngIf="f.email2.pending">Validando...</div>
            </div>
          </div>
          <div class="mb-3">
            <label for="registerPassword1" class="form-label">Contraseña</label>
            <input
              type="password"
              class="form-control"
              formControlName="password"
              id="registerPassword1"
              placeholder="Contraseña"
              autocomplete="new-password"
            />
          </div>
          <div class="mb-3">
            <label for="registerPassword2" class="form-label">Contraseña</label>
            <input
              type="password"
              class="form-control"
              formControlName="password2"
              id="registerPassword2"
              placeholder="Contraseña"
              autocomplete="new-password"
            />
          </div>
          <button
            type="submit"
            class="btn btn-primary btn-block"
            id="staffButton1"
            [disabled]="staffForm1.invalid"
          >
            Enviar
          </button>
        </form>
        <button class="btn btn-danger btn-block mt-3" (click)="deleteUser()">
          Eliminar Usuario
        </button>
      </div>
      <div class="pt-3 pb-3" id="divisor">
        <hr />
        <h4>Información de perfil</h4>
      </div>
      <div
        class="text-center d-none"
        style="margin-top: 70px;"
        id="spinnerStaff2"
      >
        <div
          class="spinner-border"
          style="width: 3rem; height: 3rem;"
          role="status"
        >
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div id="formStaff2">
        <form [formGroup]="staffForm2" (submit)="submitProfile()" novalidate>
          <div class="mb-3">
            <label for="cedulaProfile" class="form-label">Cédula</label>
            <input
              type="number"
              class="form-control"
              id="cedulaProfile"
              formControlName="cedula"
              required
              placeholder="Ingresa tu cédula"
              maxlength="10"
              minlength="9"
            />
            <div
              *ngIf="g.cedula.invalid && (g.cedula.dirty || g.cedula.touched)"
              class="alert alert-danger"
            >
              <div *ngIf="g.cedula.errors.required">
                Información requerida.
              </div>
              <div *ngIf="g.cedula.errors.minlength">
                El número de cedula debe contener más de 9 caracteres.
              </div>
              <div *ngIf="g.cedula.errors.maxlength">
                El número de cedula debe contener más de 10 caracteres.
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="ageProfile" class="form-label">Edad</label>
            <input
              type="number"
              class="form-control"
              id="ageProfile"
              formControlName="age"
              required
              placeholder="Ingresa tu edad"
              minlength="1"
              maxlength="2"
            />
            <div
              *ngIf="g.age.invalid && (g.age.dirty || g.age.touched)"
              class="alert alert-danger"
            >
              <div *ngIf="g.age.errors.required">
                Información requerida.
              </div>
              <div *ngIf="g.age.errors.minlength">
                El número de cedula debe contener al menos 1 caracter.
              </div>
              <div *ngIf="g.age.errors.maxlength">
                El número de cedula no debe contener mas de 2 caracteres.
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="areaProfile" class="form-label"
              >Area de especailización</label
            >
            <input
              type="text"
              class="form-control"
              id="areaProfile"
              formControlName="area"
              required
              placeholder="Ingresa tu area"
            />
            <div
              *ngIf="g.area.invalid && (g.area.dirty || g.area.touched)"
              class="alert alert-danger"
            >
              <div *ngIf="g.area.errors.required">
                Información requerida.
              </div>
              <div *ngIf="g.area.errors.minlength">
                El número de cedila debe contener más de 4 caracteres.
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="numberProfile" class="form-label"
              >Número de teléfono</label
            >
            <input
              type="number"
              class="form-control"
              id="numberProfile"
              formControlName="phoneNumber"
              required
              placeholder="Ingresa tu número de telefono"
              minlength="4"
              maxlength="15"
            />
            <div
              *ngIf="g.phoneNumber.invalid && (g.phoneNumber.dirty || g.phoneNumber.touched)"
              class="alert alert-danger"
            >
              <div *ngIf="g.phoneNumber.errors.required">
                Información requerida.
              </div>
              <div *ngIf="g.phoneNumber.errors.minlength">
                El número de telefono debe contener más de 9 caracteres.
              </div>
              <div *ngIf="g.phoneNumber.errors.maxlength">
                El número de telefono debe no contener más de 10 caracteres.
              </div>
            </div>
          </div>
          <button
            id="staffButton"
            class="btn btn-block btn-primary"
            [disabled]="staffForm2.invalid"
          >
            Enviar
          </button>
        </form>
        <button
          class="btn btn-danger btn-block mt-3"
          *ngIf="idProfile"
          (click)="deleteProfile()"
        >
          Eliminar Perfil
        </button>
      </div>
      <div class="pt-3 pb-3" id="divisor"></div>
    </div>
  </div>
</div>
