<div class="container">
  <div class="row mt-3 justify-content-center">
    <div class="col-xl-5 mb-5" style="margin-top: 70px;">
        <div class="text-center" style="margin-top: 70px;" id="spinnerPatient">
            <div
              class="spinner-border"
              style="width: 3rem; height: 3rem;"
              role="status"
            >
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        <form [formGroup]="patientForm" (submit)="submit()" id="formPatient" novalidate>
            <div class="row">
              <div class="col-xl-6">
                <div class="mb-3">
                  <label for="namePatient" class="form-label">Nombre</label>
                  <input type="text" class="form-control" id="namePatient" placeholder="Ingresa un nombre" formControlName="name" minlength="4" maxlength="40" required>
                  <div *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)"
                class="alert alert-danger">
    
                    <div *ngIf="f.name.errors.required">
                      Información requerida.
                    </div>
                    <div *ngIf="f.name.errors.minlength">
                      El campo debe contener más de 6 caracteres.
                    </div>
                    <div *ngIf="f.name.errors.maxlength">
                      El campo debe contener menos de 40 caracteres.
                    </div>
                    <div *ngIf="f.name.pending">Validando...</div>
    
                </div>
              </div>
              </div>
              <div class="col-xl-6">
                <div class="mb-3">
                  <label for="dniPatient" class="form-label">Número de Cédula</label>
                  <input type="number" class="form-control" id="dniPatient" placeholder="Ingresa la cédula" formControlName="dni" min="760000000" max="1999999999" required>
                  <div *ngIf="f.dni.invalid && (f.dni.dirty || f.dni.touched)"
                class="alert alert-danger">
    
                <div *ngIf="f.dni.errors.required">
                  Información requerida.
                </div>
                <div *ngIf="f.dni.errors.min">
                  Ingresa un número de cédula válido.
                </div>
                <div *ngIf="f.dni.errors.max">
                  Ingresa un número de cédula válido.
                </div>
                <div *ngIf="f.dni.pending">Validando...</div>
    
                </div>
              </div>
              </div>
              <div class="col-xl-12">
                <div class="mb-3">
                  <label class="form-label">
                    Plan
                  </label><br>
                    <select class="form-select" formControlName="plan" id="plan" required>
                      <option selected value="">Escoge uno...</option>
                      <option value="Inicial">Inicial</option>
                      <option value="Basico">Basico</option>
                      <option value="Completo">Completo</option>
                    </select>
                  <div *ngIf="f.plan.invalid && (f.plan.dirty || f.plan.touched)"
                class="alert alert-danger">
    
                    <div *ngIf="f.plan.errors.required">
                      Información requerida.
                    </div>
                    <div *ngIf="f.plan.errors.minlength">
                      El campo debe contener más de 10 caracteres.
                    </div>
                    <div *ngIf="f.plan.pending">Validando...</div>
    
                </div>
              </div>
              </div>
              <div class="col-xl-12">
                <div class="mb-3">
                  <label for="imgUrlPatient" class="form-label">Dirección Url de la Imagen</label>
                  <input type="text" class="form-control" id="imgUrlPatient" formControlName="imgUrl" placeholder="Ingresa una Url para la imagen" minlength="10" required>
                  <div *ngIf="f.imgUrl.invalid && (f.imgUrl.dirty || f.imgUrl.touched)"
                class="alert alert-danger">
    
                    <div *ngIf="f.imgUrl.errors.required">
                      Información requerida.
                    </div>
                    <div *ngIf="f.imgUrl.errors.minlength">
                      La url de la imagen debe contener más de 6 caracteres.
                    </div>
                    <div *ngIf="f.imgUrl.pending">Validando...</div>
    
                </div>
                <div class="form-text d-flex align-items-center">Recomendamos <a class="nav-link mr-1 ml-1 p-0" href="https://imgur.com/">ImgUrl</a> para subir las imagenes.</div>
              </div>
              </div>
              <div class="col-xl-12">
                <div class="mb-3">
                  <label for="emailPatient" class="form-label">Email</label>
                  <input type="email" class="form-control" id="emailPatient" formControlName="email" placeholder="Ingresa un email" minlength="10" maxlength="40" aria-describedby="emailHelp" required>
                  <div *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)"
                  class="alert alert-danger">
      
                      <div *ngIf="f.email.errors.required">
                        Información requerida.
                      </div>
                      <div *ngIf="f.email.errors.minlength">
                        El email debe contener más de 6 caracteres.
                      </div>
                      <div *ngIf="f.email.errors.email">
                        El email debe contener una estructura común.
                      </div>
                      <div *ngIf="f.email.errors.maxlength">
                        El campo debe contener menos de 40 caracteres.
                      </div>
                      <div *ngIf="f.email.pending">Validando...</div>
      
                  </div>
                  <div id="emailHelp" class="form-text">No compartiremos tu email con nadie.</div>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="mb-3">
                  <label for="agePatient" class="form-label">Edad</label>
                  <input type="number" class="form-control" id="agePatient" formControlName="age" placeholder="Ingresa una edad" min="0" max="100" required>
                  <div *ngIf="f.age.invalid && (f.age.dirty || f.age.touched)"
                class="alert alert-danger">
    
                    <div *ngIf="f.age.errors.required">
                      Información requerida.
                    </div>
                    <div *ngIf="f.age.errors.min">
                      La edad no debe contener más de 2 caracteres.
                    </div>
                    <div *ngIf="f.age.errors.max">
                      El campo debe contener menos de 3 caracteres.
                    </div>
                    <div *ngIf="f.age.pending">Validando...</div>
    
                </div>
              </div>
              </div>
              <div class="col-xl-6">
                <div class="mb-3">
                  <label for="numberPatient" class="form-label">Número de teléfono</label>
                  <input type="number" class="form-control" id="numberPatient" formControlName="phoneNumber" placeholder="Ingresa un número de teléfono" min="960000000" max="100000000" required>
                  <div *ngIf="f.phoneNumber.invalid && (f.phoneNumber.dirty || f.phoneNumber.touched)"
                class="alert alert-danger">
    
                    <div *ngIf="f.phoneNumber.errors.required">
                      Información requerida.
                    </div>
                    <div *ngIf="f.phoneNumber.errors.min">
                      Ingresa un número de telefono válido.
                    </div>
                    <div *ngIf="f.phoneNumber.errors.max">
                      Ingresa un número de telefono válido.
                    </div>
                    <div *ngIf="f.phoneNumber.pending">Validando...</div>
    
                </div>
              </div>
              </div>
              <div class="col-xl-12">
                <div class="mb-3">
                  <label for="entryDatePatient" class="form-label">Fecha de Ingreso
                      <label for="entryDatePatient" class="form-label" *ngIf="patient.entryDate">anterior <span class="font-weight-bold">
                          {{patient.entryDate | date}}
                      </span></label>
                  </label><br>
                  <input type="datetime-local" class="form-control" id="entryDatePatient" formControlName="entryDate" required>
                  <div *ngIf="f.entryDate.invalid && (f.entryDate.dirty || f.entryDate.touched)"
                class="alert alert-danger">
    
                    <div *ngIf="f.entryDate.errors.required">
                      Información requerida.
                    </div>
                    <div *ngIf="f.entryDate.pending">Validando...</div>
    
                </div>
              </div>
              </div>
              <hr>
              <div class="col-xl-12">
                <div class="mb-3">
                  <label for="birthDatePatient" class="form-label">
                    Fecha de nacimiento <label for="entryDatePatient" class="form-label" *ngIf="patient.entryDate">anterior <span class="font-weight-bold">
                      {{patient.birthDate | date}}
                  </span></label>
                  </label><br>
                  <input type="date" class="form-control" id="birthDatePatient" formControlName="birthDate" required>
                  <div *ngIf="f.birthDate.invalid && (f.birthDate.dirty || f.birthDate.touched)"
                class="alert alert-danger">
    
                    <div *ngIf="f.birthDate.errors.required">
                      Información requerida.
                    </div>
                    <div *ngIf="f.birthDate.pending">Validando...</div>
    
                </div>
              </div>
              </div>
              <div class="col-xl-6">
                <div class="mb-3">
                  <label for="birthPlacePatient" class="form-label">
                    Lugar de nacimiento
                  </label><br>
                  <input type="text" class="form-control" id="birthPlacePatient" formControlName="birthPlace" placeholder="Ingrese lugar de nacimiento" required>
                  <div *ngIf="f.birthPlace.invalid && (f.birthPlace.dirty || f.birthPlace.touched)"
                class="alert alert-danger">
    
                    <div *ngIf="f.birthPlace.errors.required">
                      Información requerida.
                    </div>
                    <div *ngIf="f.birthPlace.errors.minlength">
                      El campo debe contener más de 6 caracteres.
                    </div>
                    <div *ngIf="f.birthPlace.pending">Validando...</div>
    
                </div>
              </div>
              </div>
              <div class="col-xl-6">
                <div class="mb-3">
                  <label class="form-label">
                    Género
                  </label><br>
                    <select class="form-select" formControlName="genere" required>
                      <option selected value="">Escoge uno...</option>
                      <option value="hombre">Hombre</option>
                      <option value="mujer">Mujer</option>
                    </select>
                  <div *ngIf="f.genere.invalid && (f.genere.dirty || f.genere.touched)"
                class="alert alert-danger">
    
                    <div *ngIf="f.genere.errors.required">
                      Información requerida.
                    </div>
                    <div *ngIf="f.genere.errors.minlength">
                      El campo debe contener más de 6 caracteres.
                    </div>
                    <div *ngIf="f.genere.pending">Validando...</div>
    
                </div>
              </div>
              </div>
              <div class="col-xl-6">
                <div class="mb-3">
                  <label for="ocupationPatient" class="form-label">
                    Ocupación
                  </label><br>
                  <input type="text" class="form-control" id="ocupationPatient" formControlName="ocupation" placeholder="Ingrese la ocupación" required>
                  <div *ngIf="f.ocupation.invalid && (f.ocupation.dirty || f.ocupation.touched)"
                class="alert alert-danger">
    
                    <div *ngIf="f.ocupation.errors.required">
                      Información requerida.
                    </div>
                    <div *ngIf="f.ocupation.errors.minlength">
                      El campo debe contener más de 6 caracteres.
                    </div>
                    <div *ngIf="f.ocupation.pending">Validando...</div>
    
                </div>
              </div>
              </div>
              <div class="col-xl-6">
                <div class="mb-3">
                  <label for="academicLevelPatient" class="form-label">
                    Escolaridad
                  </label><br>
                  <input type="text" class="form-control" id="academicLevelPatient" formControlName="academicLevel" placeholder="Ingrese su nivel de estudios" required>
                  <div *ngIf="f.academicLevel.invalid && (f.academicLevel.dirty || f.academicLevel.touched)"
                class="alert alert-danger">
    
                    <div *ngIf="f.academicLevel.errors.required">
                      Información requerida.
                    </div>
                    <div *ngIf="f.academicLevel.errors.minlength">
                      El campo debe contener más de 6 caracteres.
                    </div>
                    <div *ngIf="f.academicLevel.pending">Validando...</div>
    
                </div>
              </div>
              </div>
              <div class="col-xl-6">
                <div class="mb-3">
                  <label for="maritalStatusPatient" class="form-label">
                    Estado civil
                  </label><br>
                  <input type="text" class="form-control" id="maritalStatusPatient" formControlName="maritalStatus" placeholder="Ingrese el estado civil" required>
                  <div *ngIf="f.maritalStatus.invalid && (f.maritalStatus.dirty || f.maritalStatus.touched)"
                class="alert alert-danger">
    
                    <div *ngIf="f.maritalStatus.errors.required">
                      Información requerida.
                    </div>
                    <div *ngIf="f.maritalStatus.errors.minlength">
                      El campo debe contener al menos de 6 caracteres.
                    </div>
                    <div *ngIf="f.maritalStatus.pending">Validando...</div>
    
                </div>
              </div>
              </div>
              <div class="col-xl-6">
                <div class="mb-3">
                  <label for="residencePatient" class="form-label">
                    Domicilio
                  </label><br>
                  <input type="text" class="form-control" id="residencePatient" formControlName="residence" placeholder="Ingrese el domicilio" required>
                  <div *ngIf="f.residence.invalid && (f.residence.dirty || f.residence.touched)"
                class="alert alert-danger">
    
                    <div *ngIf="f.residence.errors.required">
                      Información requerida.
                    </div>
                    <div *ngIf="f.residence.errors.minlength">
                      El campo debe contener más de 6 caracteres.
                    </div>
                    <div *ngIf="f.residence.pending">Validando...</div>
    
                </div>
              </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block" id="patientButton" [disabled]="patientForm.invalid">Guardar</button>
        </form>
    </div>
</div>
</div>