/* You can add global styles to this file, and also import other style files */
input{
    outline: none;
}

.w-10{
    max-width: 60px;
    border-radius: 5px;
}

.alert{
    padding: 1px;
    padding-left: 5px;
    margin-top: 5px;
    margin-bottom: 3px;
}

.h-10{
    height: 60px;
    max-height: 60px;
}

#deleteButton:hover{
    background-color: #dc3545;
    color: white;
}

#editButton:hover{
    background-color: #ffc107;
}

#normalButton:hover{
    background-color: #0d6efd;
    color: white;
}

.ngx-pagination {
    display: flex!important;
    justify-content: center!important;
    margin-bottom: 0!important;
}

.fc-col-header-cell-cushion{
    text-decoration: none;
}

.btn-close {
    box-sizing: content-box;
    color: #000;
    background-color: #fff;
    background-clip: content-box;
    border: 0;
    border-radius: .25rem;
    opacity: .5;
    outline: none!important;
}